/* BODY */
body {
    background-color: #f8f9fa;
}

.navbar{
    background-color: #000000;
}

#intro{
    margin-top: 70px;
}

/* CONTENT */

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.blink {
    animation: blink-animation 1s step-end infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}


/* FOOTER */
.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}