/* BODY */

body {
    background-color: #ffffff;
}

/* NAVBAR */
.navbar{
    background-color: #000000;
}

.navbar ul li a {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav {
    background-color: #000000;
    border-radius: 0 0 20px 20px;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-toggler .navbar-toggler-icon {
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    transform: rotate(90deg);
    border-radius: 50%;
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-color: #565151;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon {
    transform: rotate(90deg);
}

.rotate-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px auto;
}

/* CONTENT */

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end);
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.blink {
    animation: blink-animation 1s step-end infinite;
}

@keyframes blink-animation {
    50% {
        opacity: 0;
    }
}

#intro {
    margin-top: 70px;
}

img{
    width: 450px;
}

/* FOOTER */

.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/* MOBILE VIEW */

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        right: -100%;
        width: 100%;
        transition: right 0.3s ease;
        z-index: 1040;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .navbar-toggler {
        order: 1;
    }

    .navbar-nav .nav-item {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}